
{% extends 'base.html' %}

{% block title %}
   page
{% endblock %}

 {% block content %}
 

  
 <div class="mycard">
    <h1> Ticker Name </h1>
    <input type="text" class="input" id="tickerinp" autocomplete="on"  value="{{ticker}}.NS" style="font-size :25px;" >
 </div>
 <div class="text-center">
    <button class="button" type="submit"  onclick="LoadURL1()"  >View Chart</button>
 </div>


<script type="text/javascript">
    function LoadURL1() {
        var ticker = document.getElementById("tickerinp").value;
        var server = window.location.origin;
        var path = "/livechart/" + ticker;
        var url = server + path;
        window.location.href = url;
    }
</script>

 {% endblock %}



