

{% extends 'base.html' %}
{% block title %}
   home
{% endblock%}

 {% block content %}
 <div class="wallpaper">
    <div class="header-bar">
        <a href="{% url 'searchticker' %}">&#8592;BACK</a>
    </div>
    
  <div class="mycard">
    <h1> Next Day Price </h1>
    <div class ="text-center">
     <h2>{{nextday}}</h2>
    </div>
 </div>
 <div class="mycard">
  <h1> Today's Price </h1>
  <div class ="text-center">
   <h2>{{today}} </h2>
  </div>
</div>
</div>
 {% endblock %}
